Repository Kruacent/Kruacent-Exiled, pull requests merged in 2025-01, with the labels that each got.

#46 Global event
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/Blitz.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/Impostor.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/KIWIS.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/OpenBar.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/R.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/RandomSpawn.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/Shuffle.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/Speed.cs
  KruacentExiled/KE.GlobalEventFramework.Examples/GE/SystemMalfunction.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/API/Features/GlobalEvent.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/API/Features/Loader.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/API/Interfaces/IGlobalEvent.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/Commands/ForceGE.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/Commands/ForceNbGE.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/Commands/ListGE.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/Commands/ParentCommandGEFE.cs
  KruacentExiled/KE.GlobalEventFramework/GEFE/Handlers/ServerHandler.cs
  KruacentExiled/KE.GlobalEventFramework/MainPlugin.cs
  KruacentExiled/KruacentExiled.sln
Labels: Global Event

#48 Added pink candy
  KruacentExiled/KE.Misc/Candy.cs
  KruacentExiled/KE.Misc/Config.cs
  KruacentExiled/KE.Misc/MainPlugin.cs
Labels: feature

#52 more Custom item and pretty lights
  KruacentExiled/KE.Items/Interface/ILumosItem.cs
  KruacentExiled/KE.Items/Items/AdrenalineDrogue.cs
  KruacentExiled/KE.Items/Items/Defibrilator.cs
  KruacentExiled/KE.Items/Items/DeployableWall.cs
  KruacentExiled/KE.Items/Items/DivinePills.cs
  KruacentExiled/KE.Items/Items/Mine.cs
  KruacentExiled/KE.Items/Items/PressePuree.cs
  KruacentExiled/KE.Items/Items/TPGrenada.cs
  KruacentExiled/KE.Items/MainPlugin.cs
Labels: Custom Item

#66 Random Surface Light
  KruacentExiled/KE.Misc/Config.cs
  KruacentExiled/KE.Misc/MainPlugin.cs
  KruacentExiled/KE.Misc/ServerHandler.cs
  KruacentExiled/KE.Misc/SurfaceLight.cs
Labels: feature

#70 Adding custom role
  KruacentExiled/KE.CustomRoles/Abilities/OpenDoor.cs
  KruacentExiled/KE.CustomRoles/CR/ChaosInsurgency/LeRusse.cs
  KruacentExiled/KE.CustomRoles/CR/ClassD/Asthmatique.cs
  KruacentExiled/KE.CustomRoles/CR/ClassD/Enfant.cs
  KruacentExiled/KE.CustomRoles/CR/Guard/ChiefGuard.cs
  KruacentExiled/KE.CustomRoles/CR/Guard/Guard914.cs
  KruacentExiled/KE.CustomRoles/CR/MTF/Tank.cs
  KruacentExiled/KE.CustomRoles/CR/MTF/Terroriste.cs
  KruacentExiled/KE.CustomRoles/CR/SCP/Paper049.cs
  KruacentExiled/KE.CustomRoles/CR/SCP/Small049.cs
  KruacentExiled/KE.CustomRoles/CR/SCP/Small173.cs
  KruacentExiled/KE.CustomRoles/CR/SCP/ZombieDoorman.cs
  KruacentExiled/KE.CustomRoles/CR/Scientist/GambleAddict.cs
  KruacentExiled/KE.CustomRoles/CR/Scientist/ZoneManager.cs
  KruacentExiled/KE.CustomRoles/Config.cs
  KruacentExiled/KE.CustomRoles/Controller.cs
  KruacentExiled/KE.CustomRoles/KE.CustomRoles.csproj
  KruacentExiled/KE.CustomRoles/MainPlugin.cs
  KruacentExiled/KE.CustomRoles/README.md
  KruacentExiled/KruacentExiled.sln
Labels: Custom Role

#69 Adding Custom Item
  KruacentExiled/KE.Items/Config.cs
  KruacentExiled/KE.Items/Items/AdrenalineDrogue.cs
  KruacentExiled/KE.Items/Items/Defibrilator.cs
  KruacentExiled/KE.Items/Items/DeployableWall.cs
  KruacentExiled/KE.Items/Items/DivinePills.cs
  KruacentExiled/KE.Items/Items/HealZone.cs
  KruacentExiled/KE.Items/Items/ImpactFlash.cs
  KruacentExiled/KE.Items/Items/Mine.cs
  KruacentExiled/KE.Items/Items/Molotov.cs
  KruacentExiled/KE.Items/Items/PressePuree.cs
  KruacentExiled/KE.Items/Items/SainteGrenada.cs
  KruacentExiled/KE.Items/Items/TPGrenada.cs
  KruacentExiled/KE.Items/Items/TrueDivinePills.cs
  KruacentExiled/KE.Items/KE.Items.csproj
  KruacentExiled/KE.Items/MainPlugin.cs
  KruacentExiled/KE.Items/Models/MineModel.cs
  KruacentExiled/KE.Items/Models/Model.cs
  KruacentExiled/KE.Items/README.md
  KruacentExiled/KE.Items/Sound.cs
Labels: Custom Item
